/***
 * Header content
***/
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "https://api.foxiko.com/assets/fontawesome/css/all.css";
header .header-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 65px 1fr; }
  @media (min-width: 950px) {
    header .header-content {
      grid-template-rows: 65px 65px; } }
  header .header-content .header {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    height: 65px;
    display: grid;
    grid-template-columns: 100%; }
    @media (min-width: 950px) {
      header .header-content .header {
        grid-template-columns: 50% 50%; } }
    header .header-content .header img {
      grid-column: 1 / 1;
      height: 60px;
      width: auto;
      vertical-align: middle; }
    header .header-content .header .headernav {
      display: none; }
      @media (min-width: 950px) {
        header .header-content .header .headernav {
          width: 100%;
          height: 100%;
          grid-column: 2 / 2;
          display: table; }
          header .header-content .header .headernav span {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            color: var(--color); }
            header .header-content .header .headernav span a {
              color: black;
              text-decoration: none; }
              header .header-content .header .headernav span a:hover {
                text-decoration: underline; } }
  header .header-content nav {
    background-color: var(--color);
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-transform: uppercase; }
    header .header-content nav .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 65px 1fr; }
      @media (min-width: 950px) {
        header .header-content nav .container {
          display: inherit; } }
    @media (min-width: 950px) {
      header .header-content nav {
        display: block; } }
    header .header-content nav .nav-mobile .account, header .header-content nav .nav-navbar .account {
      grid-column: 1 / 1;
      grid-row: 1 / 1; }
    header .header-content nav .nav-mobile .support, header .header-content nav .nav-navbar .support {
      grid-column: 2 / 2;
      grid-row: 1 / 1; }
    header .header-content nav .nav-mobile .navbar-toggle, header .header-content nav .nav-navbar .navbar-toggle {
      grid-column: 3 / 3;
      grid-row: 1 / 1; }
    header .header-content nav .nav-mobile .active, header .header-content nav .nav-navbar .active {
      background: #fff; }
      header .header-content nav .nav-mobile .active a, header .header-content nav .nav-navbar .active a {
        color: black !important; }
    header .header-content nav .nav-mobile .nav-item, header .header-content nav .nav-navbar .nav-item {
      text-align: center;
      width: 100%;
      height: 100%;
      display: table; }
      header .header-content nav .nav-mobile .nav-item:hover, header .header-content nav .nav-mobile .nav-item:focus, header .header-content nav .nav-navbar .nav-item:hover, header .header-content nav .nav-navbar .nav-item:focus {
        background-color: #ffffff; }
        header .header-content nav .nav-mobile .nav-item:hover a, header .header-content nav .nav-mobile .nav-item:focus a, header .header-content nav .nav-navbar .nav-item:hover a, header .header-content nav .nav-navbar .nav-item:focus a {
          color: black !important; }
      @media (min-width: 950px) {
        header .header-content nav .nav-mobile .nav-item, header .header-content nav .nav-navbar .nav-item {
          grid-column: auto;
          grid-row: 1 / 1; } }
      header .header-content nav .nav-mobile .nav-item a, header .header-content nav .nav-navbar .nav-item a {
        color: white;
        display: table-cell;
        vertical-align: middle;
        font-weight: 800;
        font-size: 23px; }
      @media (min-width: 950px) {
        header .header-content nav .nav-mobile .nav-item, header .header-content nav .nav-navbar .nav-item {
          text-align: center; } }
    header .header-content nav .nav-navbar {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
      display: grid;
      grid-template-rows: 65px 65px 65px 65px;
      grid-template-columns: 1fr;
      transition-property: all;
      transition-delay: 0.2s;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      max-height: 0; }
    header .header-content nav .navbar-show {
      max-height: 260px; }
    @media (min-width: 950px) {
      header .header-content nav .nav-navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 65px 512px; } }
    header .header-content nav .nav-mobile {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 65px; }
      @media (min-width: 950px) {
        header .header-content nav .nav-mobile {
          display: none; } }
    header .header-content nav .nav-item-content {
      height: 512px;
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      justify-content: center;
      align-content: center;
      display: none;
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      max-height: 0;
      animation: navbar-content-hide 0.5s cubic-bezier(0, 1, 0.5, 1); }
      @media (min-width: 840px) {
        header .header-content nav .nav-item-content {
          width: 840px; } }
      @media (min-width: 950px) {
        header .header-content nav .nav-item-content {
          width: 920px;
          position: absolute;
          top: 130px;
          margin: 0; } }
      @media (min-width: 1170px) {
        header .header-content nav .nav-item-content {
          width: 1140px; } }
      header .header-content nav .nav-item-content .nav-item-content-item {
        grid-column: auto;
        grid-row: 1 / 1;
        width: 100%;
        height: 100%;
        background: red; }
    header .header-content nav .navbar-content-show {
      animation: navbar-content-show 0.5s cubic-bezier(0, 1, 0.5, 1);
      max-height: 512px;
      display: grid; }

@keyframes navbar-content-show {
  from {
    display: none;
    max-height: 0; }
  to {
    display: grid;
    max-height: 512px; } }
@keyframes navbar-content-hide {
  from {
    display: grid;
    max-height: 512px; }
  to {
    display: none;
    max-height: 0; } }
footer .footer-stripe {
  width: 100%;
  height: 100px;
  background: var(--color); }
footer .footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  @media (min-width: 950px) {
    footer .footer-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 1170px) {
    footer .footer-content {
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
      grid-template-rows: 1fr 1fr; } }
  footer .footer-content .footer-content-item {
    grid-column: auto;
    grid-row: auto; }
    footer .footer-content .footer-content-item hr {
      margin-left: 0; }
    footer .footer-content .footer-content-item h1 {
      margin-bottom: 0; }
      footer .footer-content .footer-content-item h1 a:hover, footer .footer-content .footer-content-item h1 a:focus {
        text-decoration: none; }
    footer .footer-content .footer-content-item a {
      text-decoration: none;
      color: black;
      width: 100%;
      display: block; }
      footer .footer-content .footer-content-item a:hover, footer .footer-content .footer-content-item a:focus {
        text-decoration: underline;
        color: var(--color); }
footer .ssl {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px;
  background: rgba(113, 221, 138, 0.1);
  border: #71dd8a 3px solid;
  justify-content: center;
  align-content: center;
  color: #71dd8a;
  font-size: 15px;
  font-weight: bold; }
  footer .ssl svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    animation: ssl 2.8s infinite; }
  footer .ssl span {
    padding-left: 8px;
    padding-right: 8px;
    margin: auto; }
footer .footer-slogan {
  text-transform: uppercase;
  border-top: 10px solid var(--color);
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100px;
  display: grid;
  align-content: center; }
  footer .footer-slogan span {
    color: var(--color); }
footer .footer-copyright {
  color: white;
  background: black;
  text-align: center;
  width: 100%;
  height: 60px;
  display: grid;
  align-content: center; }

@keyframes ssl {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  40% {
    opacity: 1; }
  90% {
    transform: scale(1.6); }
  100% {
    transform: scale(1.6);
    opacity: 0; } }
:root {
  --color: #FFAE19; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 840px) {
    .container {
      max-width: 840px; } }
  @media (min-width: 950px) {
    .container {
      max-width: 950px; } }
  @media (min-width: 1170px) {
    .container {
      max-width: 1170px; } }

*, *::before, *::after {
  box-sizing: border-box; }

.bg-primary {
  background-color: var(--color) !important; }

.bg-white {
  background-color: white !important; }

.color-white {
  color: white !important; }

.color-black {
  color: black !important; }

.color-primary {
  color: var(--color) !important; }

.heading1 {
  font-size: 55px;
  font-family: "Montserrat Black", sans-serif;
  font-weight: 800; }

.text-center {
  text-align: center; }

.kickstarter {
  color: #037362 !important; }

body {
  display: grid;
  min-width: 1px;
  max-width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

section, .section {
  padding: 4rem 0; }

hr {
  width: 112px;
  height: 12px;
  background-color: var(--color);
  border: none; }

.text-uppercase {
  text-transform: uppercase; }

.hr-margin {
  margin-bottom: 0; }

.page-header {
  background: url("../img/bg.jpg") no-repeat center fixed;
  background-size: cover; }

.page-what-we-offer__wrapper {
  margin-top: 55px;
  display: grid;
  max-width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100% 100% 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center; }
  @media (min-width: 950px) {
    .page-what-we-offer__wrapper {
      grid-template-columns: calc(33.33% - 30px) calc(33.33% - 30px) calc(33.33% - 30px);
      grid-template-rows: 1fr; } }
  .page-what-we-offer__wrapper__offer {
    background: white;
    grid-column: auto;
    grid-row: auto;
    padding: 15px;
    text-align: center; }
  .page-what-we-offer__wrapper__item {
    text-transform: uppercase;
    text-align: left;
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0; }
    .page-what-we-offer__wrapper__item .icon {
      grid-column: 1 / 1;
      grid-row: 1 / 3; }
      .page-what-we-offer__wrapper__item .icon svg {
        width: 90%;
        height: 90%;
        vertical-align: middle; }
    .page-what-we-offer__wrapper__item a {
      text-decoration: underline;
      color: black;
      grid-column: 2 / 2;
      grid-row: 1 / 1; }
      .page-what-we-offer__wrapper__item a:hover {
        color: var(--color); }
    .page-what-we-offer__wrapper__item span {
      font-size: 13px;
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      font-weight: 100; }

.page-why-us h1 {
  text-transform: uppercase;
  margin-bottom: 0; }
.page-why-us__points {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }
  @media (min-width: 950px) {
    .page-why-us__points {
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1170px) {
    .page-why-us__points {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto; } }
  .page-why-us__points__item {
    grid-column: auto;
    grid-row: auto;
    display: grid;
    padding: 15px;
    height: 285px;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 50%;
    text-align: center; }
    .page-why-us__points__item .icon {
      grid-column: 1;
      grid-row: 1 / 1; }
      .page-why-us__points__item .icon svg {
        width: 100%;
        color: var(--color);
        height: 90%; }
    .page-why-us__points__item span {
      grid-column: 1;
      grid-row: 2 / 2;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px; }
    .page-why-us__points__item p {
      margin-top: 0;
      grid-column: 1;
      grid-row: 3 / 3; }
.page-why-us__mindset p {
  font-size: 22px;
  font-weight: 100;
  margin: auto;
  max-width: 80%; }
  @media (min-width: 950px) {
    .page-why-us__mindset p {
      max-width: 60%; } }
.page-why-us__checklist__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33.3% 33.3% 33.3%;
  justify-content: center;
  margin: auto; }
  @media (min-width: 950px) {
    .page-why-us__checklist__list {
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-rows: 1fr; } }
  .page-why-us__checklist__list__item {
    grid-column: auto;
    grid-row: auto;
    height: 25px;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 25px;
    text-transform: uppercase;
    justify-content: center; }
    @media (min-width: 950px) {
      .page-why-us__checklist__list__item {
        justify-content: inherit; } }
    .page-why-us__checklist__list__item .icon {
      grid-column: 1 / 1;
      margin-right: 5px; }
      .page-why-us__checklist__list__item .icon svg {
        color: var(--color);
        width: auto;
        height: 25px; }
    .page-why-us__checklist__list__item .icon, .page-why-us__checklist__list__item span {
      grid-row: auto; }
    .page-why-us__checklist__list__item span {
      font-size: 20px;
      grid-column: 2 / 2;
      font-weight: 800; }
.page-why-us__support {
  width: 60%;
  display: grid;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  margin: auto;
  margin-top: 30px; }
  .page-why-us__support__title {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    text-transform: uppercase; }
    .page-why-us__support__title__text {
      margin-bottom: 0; }
  .page-why-us__support p {
    margin-top: 0;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    font-size: 22px;
    font-weight: 100; }

footer .footer-stripe {
  width: 100%;
  height: 100px;
  background: var(--color); }
footer .footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  @media (min-width: 950px) {
    footer .footer-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 1170px) {
    footer .footer-content {
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
      grid-template-rows: 1fr 1fr; } }
  footer .footer-content .footer-content-item {
    grid-column: auto;
    grid-row: auto; }
    footer .footer-content .footer-content-item hr {
      margin-left: 0; }
    footer .footer-content .footer-content-item h1 {
      margin-bottom: 0; }
      footer .footer-content .footer-content-item h1 a:hover, footer .footer-content .footer-content-item h1 a:focus {
        text-decoration: none; }
    footer .footer-content .footer-content-item a {
      text-decoration: none;
      color: black;
      width: 100%;
      display: block; }
      footer .footer-content .footer-content-item a:hover, footer .footer-content .footer-content-item a:focus {
        text-decoration: underline;
        color: var(--color); }
footer .ssl {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px;
  background: rgba(113, 221, 138, 0.1);
  border: #71dd8a 3px solid;
  justify-content: center;
  align-content: center;
  color: #71dd8a;
  font-size: 15px;
  font-weight: bold; }
  footer .ssl svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    animation: ssl 2.8s infinite; }
  footer .ssl span {
    padding-left: 8px;
    padding-right: 8px;
    margin: auto; }
footer .footer-slogan {
  text-transform: uppercase;
  border-top: 10px solid var(--color);
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100px;
  display: grid;
  align-content: center; }
  footer .footer-slogan span {
    color: var(--color); }
footer .footer-copyright {
  color: white;
  background: black;
  text-align: center;
  width: 100%;
  height: 60px;
  display: grid;
  align-content: center; }

@keyframes ssl {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  40% {
    opacity: 1; }
  90% {
    transform: scale(1.6); }
  100% {
    transform: scale(1.6);
    opacity: 0; } }

/*# sourceMappingURL=homepage.css.map */
